@import "_settings.scss";
.header {
  width: 100%;
  position: relative;
  min-height: 100vh;
  @include pc {
    background-image: url(/img/mainvisual.jpeg);
    background-size: cover; /* 全画面 */
    background-attachment: fixed; /* 固定 */
    background-position: center center; /* 縦横中央 */
    background-repeat: no-repeat;
    object-fit: cover;
  }
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-width: 466px;
  img {
    width: 100%;
  }
}
.header__menu {
  color: white;
  font-family: Helvetica Neue;
  font-size: 14.4px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #12121229;
  padding: 15px 15px;
}
.header__list {
  display: flex;
  justify-content: right;
  li {
    margin-right: 24px;
    &:hover {
      color: red;
      transition: 0.5s;
    }
  }
}
.section__title {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;

  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 calc(50% - 50vw);
}
.img1 {
  background-image: url(/img/menu.jpg);
  margin-top: 20px;
  margin-bottom: 90px;
}
.img2 {
  background-image: url(/img/about.jpg);
  margin-top: 150px;
  margin-bottom: 83px;
}
.img3 {
  background-image: url(/img/location.jpg);
  margin-top: 150px;
  margin-bottom: 83px;
}
.title {
  font-size: 72px;
  font-weight: bold;
  color: white;
}
.container {
  max-width: 1000px;
  padding: 0px 16px;
  margin: auto;
}
.menu__title {
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 6px solid #e03131;
  text-align: center;
  margin-bottom: 70px;
}
.menu__wrapper {
  display: flex;
  justify-content: space-around;
}
.menu__left,
.menu__right {
  width: 45%;
  text-align: center;
}
.menulist__left,
.menulist__right-top,
.menulist__right-bottom {
  display: flex;
  flex-wrap: wrap;
  font-size: 14.4px;
  dt {
    width: 80%;
    text-align: left;
    border-bottom: 1px dotted black;
    margin-bottom: 30px;
  }
  dd {
    width: 20%;
    padding-top: 6px;
  }
}
.about__wrapper {
  text-align: center;
}
.about__text {
  display: flex;
  gap: 40px 50px;
  width: 100%;
  text-align: left;
  font-size: 14.4px;
  letter-spacing: 0px;
}
.text {
  margin-bottom: 40px;
}
.location__wrapper {
  text-align: center;
}
.map {
  filter: grayscale(100%);
}
.address {
  font-size: 14.4px;
  text-align: left;
  p {
    margin-top: 14px;
    margin-bottom: 15px;
  }
}
